# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore IntelliJ settings
.idea

# Convenient symlink to the binary
# Created by the command ln -s ./app/build/install/task-cli/bin/task-cli task-cli
task-cli

.DS_Store